body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.game-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 1012px; /* Adjust based on desired size */
    height: 600px; /* Adjust based on desired size */
}

.scoreboard {
    text-align: center;
    flex: 1;
}

h2 {
    margin-top: 0;
}

h3 {
    margin: 5px 0;
}

.score {
    font-size: 24px;
    font-weight: bold;
}

#chessboard {
    flex: 3;
    border: 2px solid #333;
    border-radius: 10px;
    max-width: 600px;
    width: 600px;
    height: 600px;
    background-color: #664225;
    padding: 10px;
}

.row {
    display: flex;
    width: 100%;
}

.cell {
    user-select: none;
    cursor: pointer;
    width: 75px;
    height: 75px;
    font-size: 60px;
    text-align: center;
    vertical-align: middle;
    line-height: 75px;
    border-radius: 10px;
}

.white {
    background-color: #ffce9f;
}

.black {
    background-color: #a76344;
}


.highlight {
    background-color: #cfcfcf;
}